{% extends "base.html" %}
{% block content %}


<row>
    <form method="post" action="{{base_path}}/profile">
        <div class="col-md-12">
            <h2>Muokkaa profiilia</h2>
        </div>
        <div class="col-md-4">        
            <div class="form-group">
                <input type="text" name="name" placeholder="Nimi" class="form-control">
            </div>
            <div class="form-group">
    	       <input type="text" name="gender" placeholder="Sukupuoli" class="form-control">
            </div>
            <div class ="form-group">
    	       <input type="text" name="age" placeholder="Ikä" class="form-control">
            </div>
            <div class="form-group">
    	       <input type="text" placeholder="Sijainti" name="location" class="form-control">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
	   	       <label>Kuvaus</label>
		      <textarea class="form-control" name="info" rows="7"></textarea>
	       </div>
        </div>
        <div class="col-md-12">
              <button type="submit" class="btn btn-primary">Tallenna</button>
        </div>
    </form>
</row>    

{% endblock %}