{% extends "base.html" %}
{% block content %}

<ol class="breadcrumb">
  <li><a href={{base_path}}/receivedmsgs/{{message.receiver.friendid}}>Saapuneet</a></li>
  <li class="active">{{message.title}}</li>
</ol>

<div class="panel panel-info">
	<div class="panel-heading">
		<h3 class="panel-title">{{message.title}}</h3>
	</div>
	<div class="panel-heading">
		<strong>Lähettäjä: </strong><a href={{base_path}}/profile/{{message.sender.friendid}}>{{message.sender.name}}</a>
		<strong>Vastaanottaja: </strong><a href={{base_path}}/profile/{{message.receiver.friendid}}>{{message.receiver.name}}</a>
	</div>
	<div class="panel-heading">
		<strong>Lähetetty: </strong>{{message.senttime}}
	</div>
	<div class="panel-body">
		{{message.content}}
	</div>
	<div class="panel-footer">
		<a class="btn btn-primary" href=sendmsg role="button">Vastaa</a>
	</div>
</div>

{% endblock %}