{% extends "base.html" %}
{% block content %}

<ol class="breadcrumb">
  <li><a href=receivedmsgs>Saapuneet</a></li>
  <li class="active">Vastaus esimerkki-ilmoitukseen</li>
</ol>

<div class="panel panel-info">
	<div class="panel-heading">
		<h3 class="panel-title">Vastaus esimerkki-ilmoitukseen</h3>
	</div>
	<div class="panel-heading">
		<strong>Lähettäjä: </strong><a href=profile>Megan Trainor</a>
	</div>
	<div class="panel-heading">
		<strong>Lähetetty: </strong>2.4.2016
	</div>
	<div class="panel-body">
		Moi! Näin ilmoituksesi ja tämä on vastaus siihen! :)
		Moikka 
	</div>
	<div class="panel-footer">
		<a class="btn btn-primary" href=sendmsg role="button">Vastaa</a>
	</div>
</div>

{% endblock %}