{% extends "base.html" %}
{% block content %}

<div class="panel panel-success">
	<div class="panel-heading">
		<h3 class="panel-title">Esimerkki-ilmoitus</h3>
	</div>
	<div class="panel-heading">
		<strong>Lähettäjä: </strong><a href=profile>Jennifer Lopez</a>
	</div>
	<div class="panel-heading">
		<strong>Lähettetty: </strong>4.2.2016
	</div>
	<div class="panel-body">
		Verohallinto saa työnantajien ja muiden ns. sivullisilmoittajien vuosi-ilmoituksista laajasti tietoja henkilöasiakkaiden verotukseen vaikuttavista tuloista, vähennyksistä ja varallisuudesta. Esimerkiksi esitäytetyn veroilmoituksen palkkatiedot perustuvat työnantajien antamiin vuosi-ilmoitustietoihin. Koska vuosi-ilmoitukset ovat ratkaiseva tietolähde henkilöasiakkaiden esitäytetyn veroilmoituksen kannalta, on erittäin tärkeää, että tiedot ovat oikein ja että ne on annettu oikeaan aikaan ja oikealla tavalla.
	</div>
	<div class="panel-footer">
		<a class="btn btn-primary" href=sendmsg role="button">Lähetä viesti</a>
	</div>
</div>

{% endblock %}