{% extends "base.html" %}
{% block content %}

<row>
	<div class="col-md-6">
   			<h2>{{friend.name}}</h2>
 	</div>
	<div class="col-md-4 col-md-offset-2">
		{% if friend == user_logged_in %}
			<a class="btn btn-primary" href={{base_path}}/profile/edit role="button">Muokkaa profiilia</a>
		{% endif %}
	</div>
</row>

<row>
	<div class ="col-md-12">
		<table style="width:40%">
			<tr>
				<th>Ikä: </th>
				<td>{{friend.age}}</td>
			</tr>
			<tr>
				<th>Sukupuoli: </th>
				<td>{{friend.gender}}</td>
			</tr>
			<tr>
				<th>Sijainti: </th>
				<td>{{friend.location}}</td>
			</tr>
		</table>
	</div>
	<div class="col-md-7">
		{{friend.info}}
	</div>
</row>
<row>
	<div class="col-md-12"></div>
	<div class ="col-md-12">
		<a class="btn btn-primary" href={{base_path}}/sendmsg/{{friend.friendid}} role="button">Lähetä viesti</a>		
	</div>
</row>
{% endblock %}