{% extends "base.html" %}
{% block content %}

<h2>Jennifer Lopez<small> J-Lo</small></h2>

<table class="table">
	<tr>
		<th>Sijainti:</th>
		<td>Turku</td>
		<th></th>
	</tr>
	<tr>
		<th>Ikä:</th>
		<td>40</td>
		<th></th>
	</tr>
	<tr>
		<th>Sukupuoli:</th>
		<td>Nainen</td>
		<th></th>
	</tr>
</table>
<div class="row">
	<div class="col-md-1"><strong>Kuvaus:</strong></div>
  	<div class="col-xs-14 col-md-7">
  		<p>Hei olen Jennifer! Asun Turussa kahden siskon ja kahden kissan kanssa. Pidän kahvista ja 		lenkkeilystä.
  		</p>
  	</div>
</div>
<a class="btn btn-primary" href=sendmsg role="button">Lähetä viesti</a>
<div></div><h1>   </h1>
<a class="btn btn-primary" href=editprofile role="button">Muokkaa profiilia</a>

{% endblock %}