{% extends "base.html" %}
{% block content %}

<div class="page-header">
  <h2>Rekisteröidy käyttäjäksi</h2>
</div>

<form>
  <div class="row">
    <div class="col-md-5">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Sähköposti">
      </div>
      <div class="form-group">
  	    <input type="text" class="form-control" placeholder="Nimi">
      </div>
      <div class="form-group">
        <input type="password" class="form-control" placeholder="Salasana">
      </div>
  	<a class ="btn btn-success" href="{{base_path}}" role="button">Rekisteröidy</a>
    </div>
  </div>
</form>

{% endblock %}